/ObjectPropertyEx.class
/Point.class
/ToStringEx.class
/Point2.class
/EqualsEx.class
/EqualsEx$Point3.class
/Point3.class
/EqualsEx2.class
/Rect.class
/WrapperEx.class
/AutoBoxingUnBoxingEx.class
/StringEx.class
