/Wait.class
/ColorPointEx.class
/point.class
/Point.class
/ColorPoint.class
/SuperEx.class
/Point2.class
/ColorPoint2.class
/InstanceOfEx.class
/Person.class
/Professor.class
/Reasercher.class
/Student.class
/Researcher.class
/PrToString.class
/MyPoint.class
/MyPoing1.class
/MyPoint1.class
/MyPointEx.class
/PrString.class
